# Tipe Data pada Python - Numbers, String, dan Boolean

**Numbers**

Tipe numerik pada Python dibagi menjadi 3: int, float, complex

In [ ]:
a = 10
print(a, "bertipe", type(a))
b = 1.7
print(a, "bertipe", type(b))
c = 1+3j
print(c, " Bertipe bilangan kompleks? ", isinstance(1+3j,complex))

10 bertipe <class 'int'>
10 bertipe <class 'float'>
(1+3j)  Bertipe bilangan kompleks?  True

In [ ]:
x=[0]*10005;              #inisialisasi array 0 sebanyak 10005; x[0]=0
x[1]=1;                   #x[1]=1
 
for j in range(2,10001):
      x[j]=x[j-1]+x[j-2]  # Fibonacci
print(x[10000])

33644764876431783266621612005107543310302148460680063906564769974680081442166662368155595513633734025582065332680836159373734790483865268263040892463056431887354544369559827491606602099884183933864652731300088830269235673613135117579297437854413752130520504347701602264758318906527890855154366159582987279682987510631200575428783453215515103870818298969791613127856265033195487140214287532698187962046936097879900350962302291026368131493195275630227837628441540360584402572114334961180023091208287046088923962328835461505776583271252546093591128203925285393434620904245248929403901706233888991085841065183173360437470737908552631764325733993712871937587746897479926305837065742830161637408969178426378624212835258112820516370298089332099905707920064367426202389783111470054074998459250360633560933883831923386783056136435351892133279732908133732642652633989763922723407882928177953580570993691049175470808931841056146322338217465637321248226383092103297701648054726243842374862411453093812206564914032751086643394517512161526545361333111314042436854805106765843493523836959653428071768775328348234345557366719731392746273629108210679280784718035329131176778924659089938635459327894523777674406192240337638674004021330343297496902028328145933418826817683893072003634795623117103101291953169794607632737589253530772552375943788434504067715555779056450443016640119462580972216729758615026968443146952034614932291105970676243268515992834709891284706740862008587135016260312071903172086094081298321581077282076353186624611278245537208532365305775956430072517744315051539600905168603220349163222640885248852433158051534849622434848299380905070483482449327453732624567755879089187190803662058009594743150052402532709746995318770724376825907419939632265984147498193609285223945039707165443156421328157688908058783183404917434556270520223564846495196112460268313970975069382648706613264507665074611512677522748621598642530711298441182622661057163515069260029861704945425047491378115154139941550671256271197133252763631939606902895650288268608362241082050562430701794976171121233066073310059947366875

In [ ]:
#Batasan akurasi variabel bertipe float
b = 0.1234567890123456789
print(b)

0.12345678901234568

In [ ]:
# Contoh jika berupa integer:
a = 1234567890123456789
print(a)

1234567890123456789

In [ ]:
c = 1+5j
print(c)

(1+5j)

**Strings**

String adalah urutan dari karakter unicode yang dideklarasikan dengan petik tunggal atau ganda. String >1baris dapat ditandai dengan tiga petik tunggal atau ganda ''' atau """.

In [ ]:
s = "Ini adalah string baris tunggal"

In [ ]:
s = '''Ini adalah string
yang memiliki baris pertama
dan selanjutnya baris kedua'''

**Bool/Boolean**

Tipe data bool atau Boolean merupakan turunan dari bilangan bulat (integer atau int) yang hanya punya dua nilai konstanta: True dan False.

In [ ]:
foo = True
bar = False
  
print(foo)
print(bar)

True
False

In [ ]:
foo = 12 < 10
print(foo)
foo = 12 > 10
print(foo)
foo = "A" == "a"
print(foo)

False
True
False

# Tipe Data pada Python - List, Slicing, Tuple, Set, dan Dictionary

**List**

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python.

In [ ]:
a = [1, 2.2, 'python']

In [ ]:
x = [5,10,15,20,25,30,35,40]

# x[0] artinya mengambil elemen paling awal, dengan index 0 dari List x.
print(x[0])

# x[5] artinya mengambil elemen dengan index 5 dari List x.
print(x[5])

#x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.
print(x[-1])

# x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 
#(tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).
print(x[3:5])

# x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 
#(tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).
print(x[:5])

# x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.
print(x[-3:])

#x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 
#(dalam hal ini hanya index 1, 3, 5).
print(x[1:7:2])

5
30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

In [ ]:
#Elemen pada list dapat diubah atau ditambahkan. Misalnya untuk melakukan perubahan kemudian penambahan:
x = [1,2,3]
x[2]=4
print (x)

[1, 2, 4]

In [ ]:
x = [1,2,3]
x[2]=4
x.append(5)
print(x)

[1, 2, 4, 5]

In [ ]:
#Untuk menghapus item pada list, gunakan fungsi del. Ingat bahwa Indeks Python dimulai dari 0:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']

In [ ]:
del binatang [2]
print(binatang)

['kucing', 'rusa']

**Slicing pada String**

string mirip dengan list, maka slicing operator [ ]  juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring.

In [ ]:
s = "Hello World!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s[5]="d" 		#ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

o
World

TypeError: ignored

**Tuple**

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
t = (1234, 4321, 'Hello')

t = 1234, 432, 'World!'

In [ ]:
# Membuat tuple kosong
kosong = ()

In [ ]:
# membuat tuple
nama = ('petani', 'kode', 'linux')

# mengakses nilai tuple
print(nama[1])

kode

In [ ]:
# Membuat Tuple
hari = ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jum\'at', 'Sabtu', 'Minggu')

# Mengambil panjang tuple hari
print("Jumlah hari: %d" % len(hari))

Jumlah hari: 7

In [ ]:
#Tuple Nested
tuple1 = "aku", "cinta", "kamu"
tuple2 = "selama", 3, "tahun"
tuple3 = (tuple1, tuple2) # <- nested tuple
print(tuple3)

(('aku', 'cinta', 'kamu'), ('selama', 3, 'tahun'))

**Set**

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma.

In [ ]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

In [ ]:
# set dengan nlai campuran
data = {'a','b','c','d',1,2,3,4}
print (data)
 
# set tidak menampung nilai yang sama
x = {1,2,3,4,5,6,1,2,3,4}
print (x)

{'a', 1, 2, 3, 4, 'b', 'c', 'd'}
{1, 2, 3, 4, 5, 6}

In [ ]:
# Menambahkan angota dalam tipe data set
data = {'a','b','c','d',1,2,3,4}
print (data)
 
# tambahkan nilai 10 untuk anggota set dengan menggunakan fungsi add()
data.add(10)
print(data)
 
# tambahkan nilai 11,12,13 untuk anggota set dengan menggunakan fungsi update()
data.update([11,12,13])
print(data)

{'a', 1, 2, 3, 4, 'b', 'c', 'd'}
{'a', 1, 2, 3, 4, 'b', 10, 'c', 'd'}
{'a', 1, 2, 3, 4, 'b', 10, 11, 12, 13, 'c', 'd'}

In [ ]:
# Menghapus angota dalam tipe data set
data = {'a','b','c','d',1,2,3,4}
print (data)
 
# menghapus anggota menggunakan fungsi remove()
data.remove(3)
print(data)
data.remove(5)
print(data)

#Untuk menghapus data mengunakan fungsi remove(), akan menampilkan error jika data tidak termaksud anggota tipe data set

{'a', 1, 2, 3, 4, 'b', 'c', 'd'}
{'a', 1, 2, 4, 'b', 'c', 'd'}

KeyError: ignored

In [ ]:
data = {'a','b','c','d',1,2,3,4}
print (data)
 
# menghapus anggota menggunakan fungsi discard()
data.discard(3)
print(data)
data.discard(5)
print(data)

{'a', 1, 2, 3, 4, 'b', 'c', 'd'}
{'a', 1, 2, 4, 'b', 'c', 'd'}
{'a', 1, 2, 4, 'b', 'c', 'd'}

In [ ]:
#Operasi himpunan mengunakan SET

#Operasi gabungan
data1 = {1,2,3,4}
data2 = {1,2,7,8}
# menggunakan tanda palang |
print(data1|data2)
 
# menggunakan fungsi union
data3 = data1.union(data2)
print (data3)

{1, 2, 3, 4, 7, 8}
{1, 2, 3, 4, 7, 8}

In [ ]:
#Operasi Irisan

data1 = {1,2,3,4}
data2 = {1,2,7,8}
# menggunakan tanda palang |
print(data1 & data2)
 
# menggunakan fungsi intersection
data3 = data1.intersection(data2)
print (data3)

{1, 2}
{1, 2}

In [ ]:
#Operasi Selisih

data1 = {1,2,3,4}
data2 = {1,2,7,8}
# menggunakan tanda min -
print(data1 - data2)
 
# menggunakan fungsi difference
data3 = data1.difference(data2)
print (data3)

{3, 4}
{3, 4}

In [ ]:
# Operasi Komplemen
data1 = {1,2,3,4}
data2 = {1,2,7,8}
# menggunakan tanda min -
print(data1 ^ data2)
 
# menggunakan fungsi difference
data3 = data1.symmetric_difference(data2)
print (data3)

{3, 4, 7, 8}
{3, 4, 7, 8}

**Dictionary**

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key).

In [ ]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [ ]:
#Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks.

d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);
 
# Generates error
print("d[2] = ", d[2]);

<class 'dict'>
d[1] =  value
d['key'] =  2

KeyError: ignored

In [ ]:
#Konversi (conversion, cast) antar tipe data
#melakukan konversi tipe data bawaan dengan menggunakan fungsi konversi tipe bawaan (standard type) misalnya: int(), float(), str(), dll.

print(float(5))

5.0

In [ ]:
#Konversi float ke int akan bersifat floor/truncating atau menghilangkan nilai di belakang koma
print(int(10.6))

10

In [ ]:
print(int(-10.6))

-10

In [ ]:
# Konversi dari-dan-ke string akan melalui pengujian dan dipastikan validitasnya.
print(float('2.5'))

2.5

In [ ]:
print(str(25))

25

In [ ]:
#konversi kumpulan data (set, list, tuple)
print(set([1,2,3]))

{1, 2, 3}

In [ ]:
print(tuple({5,6,7}))

(5, 6, 7)

In [ ]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [ ]:
# Untuk konversi ke dictionary, data harus memenuhi persyaratan key-value
print(dict([[1,2],[3,4]]))

{1: 2, 3: 4}

In [ ]:
print(dict([(3,26),(4,44)]))

{3: 26, 4: 44}

# Input/Output pada Python

**Output**

In [ ]:
# fungsi print() adalah cara output langsung ke konsol/layar.
print("Hello, World!")

Hello, World!

In [ ]:
# Memasukkan nilai variabel pada string
x = 100
print('Nilai x adalah', x)

Nilai x adalah 100

In [ ]:
# menampilkan text (string), bisa menggunakan mekanisme string format
print('hai {}'.format('bro'))

hai bro

In [ ]:
# menggunakan operator “%” yang ditambahkan dengan "argument specifiers", misalnya "%s" and "%d".
nama = "Evi Novita"
print("Halo, %s!" % nama)

Halo, Evi Novita!

In [ ]:
# menambahkan string dan integer
nama = "Ku"
umur = 5
print("Umur %s adalah %d tahun." % (nama, umur))

Umur Ku adalah 5 tahun.

In [ ]:
# menambahkan objek selain string (otomatis dikonversi)
angka = [7, 9, 11, 13]
print("Angka saya: %s" % angka)

Angka saya: [7, 9, 11, 13]

In [ ]:
# Beberapa argument specifier yang umum digunakan
%s - String
%d - Integers
%f - Bilangan Desimal
%.<digit>f - Bilangan desimal dengan sejumlah digit angka dibelakang koma.
%x/%X - Bilangan bulat dalam representasi Hexa (huruf kecil/huruf besar)

In [ ]:
# representasi Hexa (bilangan basis 16)
a, b = 10, 11
a, b
print('a: %x and b: %X' % (a, b))

a: a and b: B

**Input**

Untuk memungkinkan user memberikan input pada program, gunakan fungsi input(), dengan argumen dalam kurung () adalah teks yang ingin ditampilkan (prompt) dan variabel sebelum tanda sama dengan (=) adalah penampung hasil dari input pengguna:

In [ ]:
nilai = input('Masukkan angka : ')
print(nilai)

Masukkan angka : 90
90

In [ ]:
print(int(nilai))

90

In [ ]:
print(float(nilai))

90.0

**Command-line arguments**

In [ ]:
import sys
print('Jumlah arguments:', len(sys.argv), 'arguments.')
print('Argument List:', str(sys.argv))
print(sys.argv[1])

Jumlah arguments: 3 arguments.
Argument List: ['/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-0c73532c-fea5-422d-ad29-0d29765c3458.json']
-f

#**Dynamic Typing pada Python**

In [ ]:
# Ketika kita memberikan nilai 6 pada variabel x
x = 6  
print(type(x))
# Kemudian Berikan string “hello” pada variabel x di baris selanjutnya
x = 'hello'
print(type(x))

<class 'int'>
<class 'str'>

In [ ]:
if False:
    9 + "satu"  # Baris ini tidak dioperasikan, sehingga tidak muncul notifikasi TypeError
else:
    9 + 1

#**Transformasi Angka, Karakter dan String**

Upper()

Metode upper() dapat digunakan untuk mengonversi karakter atau string dari huruf kecil ke huruf besar. Namun, jika huruf asalnya adalah huruf besar, maka huruf tersebut tidak berubah.

In [ ]:
kata = 'evi'
kata = kata.upper()
print(kata)

EVI

lower()

kebalikan dari upper() yang dapat mengonversi karakter atau string dari huruf besar ke huruf kecil. Namun jika huruf asalnya adalah huruf kecil, maka huruf tersebut tidak berubah.

In [ ]:
kata = 'EVI'
kata = kata.lower()
print(kata)

evi

rstrip()

Metode ini akan menghapus whitespace pada sebelah kanan string atau akhir string

In [ ]:
print('Kucing    '.rstrip())

Kucing

lstrip()

menghapus whitespace pada sebelah kiri atau awal string.

In [ ]:
print('    Kucing'.lstrip())

Kucing

strip()

Metode strip() akan menghapus whitespace pada bagian awal atau akhir string

In [ ]:
print('    Kucing    '.strip())

Kucing

In [ ]:
#menentukan mana karakter atau bagian yang ingin dihilangkan
kata = 'CodeCodeKucingCodeCode'
print(kata.strip('Code'))

Kucing

startswith()

Metode startswith() akan mengembalikan nilai True jika string diawali dengan kata awalan tertentu yang kita inginkan, jika tidak maka akan mengembalikan nilai False.

In [ ]:
print('Hallo Indonesia'.startswith('Hallo'))

True

endswith()

endswith() ini kebalikannya dari metode startswith(), metode ini akan mengembalikan nilai True jika string diakhiri dengan kata akhiran tertentu yang kita inginkan, jika tidak maka akan mengembalikan nilai False.

In [ ]:
print('Hallo Indonesia'.endswith('Indonesia'))

True

Memisah dan Menggabung String

join()

join() adalah metode yang dipakai untuk menggabungkan sejumlah string

In [ ]:
 print(' '.join(['Hallo', 'Indonesia', '!']))

Hallo Indonesia !

In [ ]:
print('123'.join(['Hallo', 'Indonesia', '!']))

Hallo123Indonesia123!

split()

split() adalah metode yang memisahkan substring berdasarkan delimiter tertentu (defaultnya adalah whitespace, tab, atau newline).

In [ ]:
print('Hallo Indonesia !'.split())

['Hallo', 'Indonesia', '!']

In [ ]:
#mengubah parameter split (delimiter)
print('Hallo123Indonesia123!'.split('123'))

['Hallo', 'Indonesia', '!']

In [ ]:
#menggunakan metode split() ini untuk memisahkan setiap baris pada string multiline:

print('''Halo,
aku ikan,
aku suka sekali menyelam
aku tinggal di perairan.
Badanku licin dan renangku cepat.
Senang berkenalan denganmu.'''.split('\n'))

['Halo,', 'aku ikan,', 'aku suka sekali menyelam', 'aku tinggal di perairan.', 'Badanku licin dan renangku cepat.', 'Senang berkenalan denganmu.']

#**Mengganti Elemen String**

replace()

replace() dapat mengembalikan string baru dalam kondisi substring telah tergantikan dengan parameter yang dimasukkan

In [ ]:
string = "Ayo belajar Coding "
print(string.replace("Coding", "Pemrograman"))

Ayo belajar Pemrograman

In [ ]:
# Opsional: Parameter ketiga pada replace dapat diisi jumlah substring yang ingin diganti

string = "Ayo belajar Coding karena Coding adalah bahasa masa depan"
print(string.replace("Coding", "Pemrograman", 1))

Ayo belajar Pemrograman karena Coding adalah bahasa masa depan

#**Pengecekan String**

kategori pengecekan string di lakukan untuk mengecek boolean dari sebuah string

isupper()

isupper() akan mengembalikan nilai True jika semua huruf dalam string adalah huruf besar, dan akan mengembalikan nilai False jika terdapat satu saja huruf kecil di dalam string tersebut.

In [ ]:
kata = 'HALLO'
kata.isupper()

True

In [ ]:
kata = 'Hallo'
kata.isupper()

False

islower()

metode ini akan mengembalikan nilai True jika semua huruf dalam string adalah huruf kecil, dan akan mengembalikan nilai False jika terdapat satu saja huruf besar di dalam string tersebut.

In [ ]:
kata = 'hallo'
kata.islower()

True

In [ ]:
kata = 'Hallo'
kata.islower()

False

In [ ]:
print('Hallo'.upper().lower())
print('Hallo'.lower().upper())
print('HALLO'.upper().lower().islower())
print('HALLO'.upper().lower().isupper())

hallo
HALLO
True
False

isalpha()

Metode ini akan mengembalikan nilai True jika semua karakter dalam string adalah huruf alfabet, jika tidak maka akan mengembalikan nilai False.

In [ ]:
'hallo'.isalpha()

True

isalnum() 

Metode ini akan mengembalikan nilai True jika karakter dalam string adalah alfanumerik yaitu hanya huruf atau hanya angka atau berisi keduanya, jika tidak maka akan mengembalikan nilai False.

In [ ]:
'hallo123'.isalnum()

True

isdecimal()

Metode ini akan mengembalikan nilai True jika karakter dalam string berisi hanya angka/numerik, jika tidak maka akan mengembalikan nilai False.

In [ ]:
'12345'.isdecimal()

True

isspace()

Metode ini akan mengembalikan nilai True jika string berisi hanya karakter whitespace, seperti spasi, tab, newline, atau karakter whitespaces lainnya, jika tidak maka akan mengembalikan nilai False.

In [ ]:
'   '.isspace()

True

istitle()

Metode ini akan mengembalikan True jika string berisi huruf kapital di setiap kata dan dilanjutkan dengan huruf kecil seterusnya, jika tidak maka akan mengembalikan nilai False.

In [ ]:
'Hallo Indonesia'.istitle()

True

In [ ]:
# metode validasi input user
while True:
    print('Masukkan nama Anda:')
    name = input()
    if name.isalpha():
        print("Halo", name)
        break
    print('Masukkan nama Anda dengan benar.')

Masukkan nama Anda:
Evi
Halo Evi

#**Formatting pada String**

zfill()

metode yang dapat menambahkan nilai numerik berupa 0 di sebelah kiri sebuah angka atau string

In [ ]:
# Contoh 1: Penggunaan zfill 5 pada angka satuan
angka = 5
print (str(angka).zfill(5));
# Contoh 2: Penggunaan zfill 5 pada angka ratusan
angka = 300
print (str(angka).zfill(5));
# Contoh 3: Penggunaan zfill 5 pada angka desimal negatif (memiliki koma)
angka = -0.45
print (str(angka).zfill(5));
# Contoh 4: Penggunaan zfill 7 pada angka desimal negatif (memiliki koma)
angka = -0.45
print (str(angka).zfill(7));

00005
00300
-0.45
-000.45

In [ ]:
#Penerapan zfill pada String
# Contoh 1
kata = 'aku'
print (kata.zfill(5));
# Contoh 2
kata = 'kamu'
print (kata.zfill(5));
# Contoh 3
kata = 'dirinya'
print (kata.zfill(5));

00aku
0kamu
dirinya

#Teks rata kanan/kiri/tengah dengan rjust(), ljust(), dan center()

rjust()

In [ ]:
'Hallo'.rjust(20)

'               Hallo'

ljust()

In [ ]:
'Hallo'.ljust(20)

'Hallo               '

In [ ]:
'Hallo'.ljust(20, '!')

'Hallo!!!!!!!!!!!!!!!'

center()

In [ ]:
'Hallo'.center(20)

'       Hallo        '

In [ ]:
'Hallo'.center(20, '-')

'-------Hallo--------'

#String Literals

In [ ]:
st1 = "Jum’at"
st1

'Jum’at'

In [ ]:
st2 = 'Jum\'at'
st2

"Jum'at"

In [ ]:
print("Halo!\nKapan terakhir kali kita bertemu?\nKita bertemu hari Jum\'at yang lalu.")

Halo!
Kapan terakhir kali kita bertemu?
Kita bertemu hari Jum'at yang lalu.

#Raw Strings

In [ ]:
print(r'Hallo\tIndonesia')

Hallo\tIndonesia

#Operasi pada List, Set, dan String

len()

yang akan menghitung panjang atau banyaknya elemen dari List (untuk String menjadi menghitung jumlah karakternya).

In [ ]:
contoh_list = [1, 3, 3, 5, 5, 5, 7, 7, 9]
print(contoh_list)
print(len(contoh_list))
 
contoh_set = set([1, 3, 3, 5, 5, 5, 7, 7, 9])
print(contoh_set)
print(len(contoh_set))
 
contoh_string = "Belajar Python"
print(contoh_string)
print(len(contoh_string))

[1, 3, 3, 5, 5, 5, 7, 7, 9]
9
{1, 3, 5, 7, 9}
5
Belajar Python
14

min() dan max()

mengetahui berapa nilai minimum dan maksimum dari suatu list

In [ ]:
angka = [13, 7, 24, 5, 96, 84, 71, 11, 38]
print(min(angka))
print(max(angka))

5
96

Count

Untuk mengetahui berapa kali suatu objek muncul dalam list

In [ ]:
genap = [2, 4, 4, 6, 6, 6, 8, 10, 10]
print(genap.count(6))
string = "Belajar Python sangat menyenangkan"
substring = "a"
print(string.count(substring))

3
6

In [ ]:
# Penggabungan dan Replikasi
angka = [2, 4, 6, 8]
huruf = ['P', 'Y', 'T', 'H', 'O', 'N']
gabung = angka + huruf
print(gabung)

[2, 4, 6, 8, 'P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
#  replikasi
learn = ['P', 'Y', 'T', 'H', 'O', 'N']
replikasi = learn * 2
print(replikasi)

['P', 'Y', 'T', 'H', 'O', 'N', 'P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
#Fungsi pengali juga dapat di manfaatkan untuk inisialisasi List
tujuh = [7]*7
print(len(tujuh))
print(tujuh)

7
[7, 7, 7, 7, 7, 7, 7]

Range

 memberikan deret bilangan dengan pola tertentu

In [ ]:
#Range dengan 1 parameter
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#Range dengan 2 parameter
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Range dengan 3 parameter
print([_ for _ in range(0,20,5)])

[0, 5, 10, 15]

**in dan not in**

Fungsi ini akan mengembalikan nilai boolean True atau False

In [ ]:
kalimat = "Belajar Python sangat menyenangkan"
print('Belajar' in kalimat)
print('tidak' in kalimat)
print('sangat' not in kalimat)
print('tidak' not in kalimat)

True
False
False
True

In [ ]:
# memberikan nilai untuk beberapa variabel sekaligus dari elemen List atau Tuple tanpa perlu menandai satu per satu
data = ['shirt', 'white', 'L']
apparel = data[0]
color = data[1]
size = data[2]

In [ ]:
data = ['shirt', 'white', 'L'] # From List
apparel, color, size = data
data = ('shirt', 'white', 'L')  # From Tuple
apparel, color, size = data

In [ ]:
lidata = ['shirt', 'white', 'L'] # From List
apparel, color, size, price = data

In [ ]:
#Penggunaan assignment pada multi variabel ini dapat Anda gunakan untuk menukar nilai dua atau lebih variabel
apparel, color = 'shirt', 'white'
apparel, color = color, apparel
print(apparel)
print(color)

white
shirt

**Sort**

mengurutkan angka atau urutan huruf

In [ ]:
angka = [100, 1000, 500, 200, 5]
angka.sort()
print(angka)

[5, 100, 200, 500, 1000]

In [ ]:
kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
kendaraan.sort()
print(kendaraan)

['helikopter', 'mobil', 'motor', 'pesawat']

In [ ]:
kendaraan = ['motor', 'mobil', 'helikopter', 'pesawat']
kendaraan.sort(reverse=True)
print(kendaraan)

['pesawat', 'motor', 'mobil', 'helikopter']

In [ ]:
# Metode sort menggunakan urutan ASCII
kendaraan = ['motor', 'mobil', 'helikopter', 'Pesawat']
kendaraan.sort()
print(kendaraan)

['Pesawat', 'helikopter', 'mobil', 'motor']

# Operator, Operands, dan Expressions

In [ ]:
print(2 + 3)
print(3 * 5)

5
15

In [ ]:
a = 2
a = a * 3
a

6

Penggunaan le, lt, gt, ge, eq, ne

In [ ]:
from operator import *
hijau = 5
kuning = 10
print('Kelereng Hijau = {}'.format(hijau))
print('Kelereng Kuning = {}'.format(kuning))
for func in (lt, le, eq, ne, ge, gt):
    print('{}(hijau, kuning): {}'.format(func.__name__, func(hijau, kuning)))

Kelereng Hijau = 5
Kelereng Kuning = 10
lt(hijau, kuning): True
le(hijau, kuning): True
eq(hijau, kuning): False
ne(hijau, kuning): True
ge(hijau, kuning): False
gt(hijau, kuning): False

Boolean Operator

In [ ]:
hasil = (5 > 6) and (10 <= 8)
print(hasil)
 
hasil = ('hallo' == 'hallo') or (10 <= 8)
print(hasil)
 
hasil = not (10 < 10)
print(hasil)
 
hasil = ('hallo' == 'hallo') and (10 <= 8) or (1 != 1)
print(hasil)

False
True
True
False

#Python Basic Style Guide - Statement Gabungan, Trailing Commas, dan Anotasi Fungsi

In [ ]:
# Statement gabungan
if foo == 'blah':
    do_blah_thing()
do_one()
do_two()
do_three()

**Penggunaan Trailing Commas**


Koma di bagian akhir (trailing commas) umumnya bersifat opsional, satu statemen dimana ia bersifat wajib adalah saat kita membuat variabel menggunakan tipe tuple dengan satu elemen

In [ ]:
#Disarankan
FILES = ('setup.cfg',)

#Tidak disarankan
FILES = 'setup.cfg',

In [ ]:
#Disarankan
FILES = [
    'setup.cfg',
    'tox.ini',
    ]
initialize(FILES,
           error=True,
           )

#Tidak disarankan
FILES = ['setup.cfg', 'tox.ini',]
initialize(FILES, error=True,)

**Anotasi Fungsi**

Penggunaan anotasi fungsi sebaiknya menggunakan aturan baku untuk titik dua (:) dan menggunakan spasi untuk penggunaan ->

In [ ]:
Yes:
def munge(input: AnyStr): ...
def munge() -> AnyStr: ...
 
No:
def munge(input:AnyStr): ...
def munge()->PosInt: …

In [ ]:
Yes:
def complex(real, imag=0.0):
    return magic(r=real, i=imag)
 
No:
def complex(real, imag = 0.0):
    return magic(r = real, i = imag)

In [ ]:
Yes:
def munge(sep: AnyStr = None): ...
def munge(input: AnyStr, sep: AnyStr = None, limit=1000): ...
 
No:
def munge(input: AnyStr=None): ...
def munge(input: AnyStr, limit = 1000): …

# Percabangan dan Ternary Operators

If

Di Python, expression diletakkan setelah if, dan keputusan ditentukan berdasarkan nilai kebenaran dari expression tersebut.

In [2]:
kelerengku = 10
if kelerengku:
   print ("Cetak ini jika benar")
   print (kelerengku)

Cetak ini jika benar
10

Else

Statement Else dapat dikombinasikan dengan IF Statement, sebagai jalan keluar saat kondisi / hasil evaluasi bernilai False.

In [3]:
tinggi_badan = int(input("Masukkan tinggi badan Anda : "))
if tinggi_badan>=160:
   print ("Silakan, Anda boleh masuk")
else:
   print ("Maaf, Anda belum boleh masuk")

Masukkan tinggi badan Anda : 156
Maaf, Anda belum boleh masuk

In [4]:
bilangan = 4
if bilangan % 2 == 0:
    print('Bilangan {} adalah genap'.format(bilangan))
else:
    print('Bilangan {} adalah ganjil'.format(bilangan))

Bilangan 4 adalah genap

**Elif**

Elif adalah kependekan dari else if, dan merupakan alternatif untuk if bertingkat atau switch/case di beberapa bahasa pemrograman lain

In [5]:
nilai = int(input("Masukkan nilai tugas Anda : "))
if nilai>80:
   print("Selamat! Anda mendapat nilai A")
   print("Pertahankan!")
elif nilai>70:
   print("Hore! Anda mendapat nilai B")
   print("Tingkatkan!")
elif nilai>60:
   print("Hmm.. Anda mendapat nilai C")
   print("Ayo semangat!")
else:
   print("Waduh, Anda mendapat nilai D")
   print("Yuk belajar lebih giat lagi!")

Masukkan nilai tugas Anda : 79
Hore! Anda mendapat nilai B
Tingkatkan!

Ternary Operators

Ternary operator lebih dikenal sebagai conditional expressions pada Python. Operator menentukan sesuatu berdasarkan kondisi True atau False. Jika statement atau klausa if Anda cukup sederhana, maka ternary Operators akan sangat membantu

In [ ]:
kondisi = True
print(2 if kondisi else 1/0)
#Output is 2
 
print((1/0, 2)[kondisi])
#Eror Pembagian Nol akan muncul

**ShortHand Ternary**

tag yang mungkin membantu Anda untuk memeriksa kode/hasil dari sebuah fungsi dan memastikan outputnya tidak menyebabkan error

In [7]:
hasil = None
pesan = hasil or "Tidak ada data"
print(pesan)

Tidak ada data

# Perulangan

For

For tidak hanya untuk perulangan dengan jumlah finite (terbatas), melainkan lebih ke fungsi yang dapat melakukan perulangan pada setiap jenis variabel berupa kumpulan atau urutan. Variabel yang dimaksud bisa berupa list, string, ataupun range.

In [8]:
for huruf in 'Dicoding':  # Contoh pertama
    print('Huruf: {}'.format(huruf))
 
flowers = ['mawar', 'melati', 'anggrek']
for flower in flowers:  # Contoh kedua
    print('Flower: {}'.format(flower))

Huruf: D
Huruf: i
Huruf: c
Huruf: o
Huruf: d
Huruf: i
Huruf: n
Huruf: g
Flower: mawar
Flower: melati
Flower: anggrek

In [9]:
# perulangan berdasarkan indeks atau range dengan memanfaatkan fungsi len()
flowers = ['mawar', 'melati', 'anggrek']
for index in range(len(flowers)):
    print('Flowers: {}'.format(flowers[index]))

Flowers: mawar
Flowers: melati
Flowers: anggrek

**While**

digunakan untuk mengeksekusi statement selama kondisi yang diberikan terpenuhi (True). Kondisi dapat berupa expression apapun, dan harap diingat bahwa True di Python termasuk semua nilai non-zero. Saat kondisi menjadi False, program akan melanjutkan ke baris setelah blok statement.

In [10]:
count = 0
while (count < 7):
    print('Hitungannya adalah: {}'.format(count))
    count = count + 1

Hitungannya adalah: 0
Hitungannya adalah: 1
Hitungannya adalah: 2
Hitungannya adalah: 3
Hitungannya adalah: 4
Hitungannya adalah: 5
Hitungannya adalah: 6

In [11]:
# eksekusi statement while mungkin bersifat infinit / infinite loop saat sebuah kondisi tidak pernah bernilai False.
var = 1
while var == 1:  # This constructs an infinite loop
    num = input('Masukkan angka: ')
    print('Anda memasukkan angka: {}'.format(num))
 
 
while True:  # This constructs an infinite loop
    num = input('Masukkan angka: ')
    print('Anda memasukkan angka: {}'.format(num))

Masukkan angka: 12
Anda memasukkan angka: 12
Masukkan angka: 12
Anda memasukkan angka: 12
Masukkan angka: 75
Anda memasukkan angka: 75

KeyboardInterrupt: ignored

Perulangan Bertingkat

In [12]:
for i in range(0, 6):
    for j in range(0, 6 - i):
        print('*', end='')
    print()

******
*****
****
***
**
*

# Kontrol Perulangan

Break

menghentikan perulangan kemudian keluar, dilanjutkan dengan mengeksekusi pernyataan (statement) setelah blok perulangan.

In [14]:
for huruf in 'Hall o':
    if huruf == ' ':
        break
    print('Huruf saat ini: {}'.format(huruf))

Huruf saat ini: H
Huruf saat ini: a
Huruf saat ini: l
Huruf saat ini: l

In [15]:
for i in range (0,10):
    for j in range (0,10):
        if j>i:
            print()
            break
        else:
            print("*",end="")

*
**
***
****
*****
******
*******
********
*********
**********

Continue

akan membuat iterasi saat ini berhenti, kemudian melanjutkan ke iterasi berikutnya, mengabaikan pernyataan (statement) yang berada antara continue hingga akhir blok perulangan.

In [17]:
for huruf in 'Hallo Indonesia':
    if huruf == ' ':
        continue
    print('Huruf saat ini: {}'.format(huruf))

Huruf saat ini: H
Huruf saat ini: a
Huruf saat ini: l
Huruf saat ini: l
Huruf saat ini: o
Huruf saat ini: I
Huruf saat ini: n
Huruf saat ini: d
Huruf saat ini: o
Huruf saat ini: n
Huruf saat ini: e
Huruf saat ini: s
Huruf saat ini: i
Huruf saat ini: a

In [18]:
jumlahbaris = 10
baris = 0
bintang = 0
while baris < jumlahbaris:
    if (bintang) >= (baris+1):
        print()
        baris = baris+1
        bintang=0
        continue      ##saat masuk ke if, maka bagian print * diluar if tidak akan dijalankan, langsung ulang ke while
    print("*",end="")
    bintang= bintang+1

*
**
***
****
*****
******
*******
********
*********
**********

Else setelah For

Fungsinya diutamakan pada perulangan yang bersifat pencarian - untuk memberikan jalan keluar program saat pencarian tidak ditemukan

In [ ]:
#Struktur umumnya adalah sebagai berikut
for item in items:
    if cari(item):
        #ditemukan!
        proses_item()
        break
else:
    #Item tidak ditemukan
    not_found_in_container()

In [ ]:
# struktur pseudocode yang diikuti dalam membuat else pada perulangan
if any(something_about(thing) for each thing in container):
    do_something(that_thing)
else:
    no_such_thing()

In [20]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n/x)
            break

4 equals 2 * 2.0
6 equals 2 * 3.0
8 equals 2 * 4.0
9 equals 3 * 3.0

In [21]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print( n, 'equals', x, '*', n/x)
            break
    else:
        # loop fell through without finding a factor
        print(n, ' adalah bilangan prima')

2  adalah bilangan prima
3  adalah bilangan prima
4 equals 2 * 2.0
5  adalah bilangan prima
6 equals 2 * 3.0
7  adalah bilangan prima
8 equals 2 * 4.0
9 equals 3 * 3.0

Else setelah While

blok statement else akan selalu dieksekusi saat kondisi pada while menjadi salah

In [22]:
n = 10
while n > 0:
    n = n - 1
    if n == 7:
        break
    print(n)
else:
    print("Loop selesai")

9
8

In [23]:
n = 10
while n > 0:
    n = n - 1
    print(n)
else:
    print("Loop selesai")

9
8
7
6
5
4
3
2
1
0
Loop selesai

Pass

Pass statement adalah operasi bersifat Null (kosong), tidak ada yang terjadi saat ia dipanggil.

In [24]:
def sebuahfungsi():
    pass

In [ ]:
#Contoh pass untuk mengantisipasi exception/kegagalan fungsi
var1=""
while(var1!="exit"):
    var1=input("Please enter an integer (type exit to exit): ")
    print(int(var1))

In [25]:
import sys
data=''
while(data!='exit'):
    try:
        data=input('Please enter an integer (type exit to exit): ')
        print('got integer: {}'.format(int(data)))
    except:
        if data == 'exit':
            pass  # exit gracefully without prompt any error
        else:
            print('error: {}'.format(sys.exc_info()[0]))

Please enter an integer (type exit to exit): 1
got integer: 1
Please enter an integer (type exit to exit): 2
got integer: 2
Please enter an integer (type exit to exit): gh
error: <class 'ValueError'>
Please enter an integer (type exit to exit): zf13
error: <class 'ValueError'>
error: <class 'KeyboardInterrupt'>
Please enter an integer (type exit to exit): wxit
error: <class 'ValueError'>
Please enter an integer (type exit to exit): exit

List Comprehension (membuat list dengan inline loop dan if)

In [26]:
#Cara 1
angka = [1, 2, 3, 4]
pangkat = []
for n in angka:
  pangkat.append(n**2)
print(pangkat)

[1, 4, 9, 16]

In [27]:
#Cara 2 List Comprehension
angka = [1, 2, 3, 4]
pangkat = [n**2 for n in angka]
print(pangkat)

[1, 4, 9, 16]

In [28]:
#Contoh3 menemukan item yang ada di kedua list
list1 = ['d', 'i', 'c', 'o']
list2 = ['d', 'i', 'n', 'g']
duplikat = []
for a in list1:
  for b in list2:
    if a == b:
      duplikat.append(a)
     
print(duplikat)  # Output ['d','i']

['d', 'i']

In [29]:
#Contoh4 Implementasi dengan list comprehension
list1 = ['d', 'i', 'c', 'o']
list2 = ['d', 'i', 'n', 'g']
duplikat = [a for a in list1 for b in list2 if a == b]
print(duplikat) # Output: ['d','i']

['d', 'i']

In [30]:
# Contoh 5 kecilkan semua huruf
list_a = ["Hello", "World", "In", "Python"]
small_list_a = [_.lower() for _ in list_a]
print(small_list_a)

['hello', 'world', 'in', 'python']